{% extends "base.html" %}
{% block title%}
<title>Список мов</title>
{% endblock%}3
{% block content%}
<h1>Список мов</h1>
<div class="row">
    <div class="col-md-8 mx-auto my-4">
        <table class="table">
        {%for object in page_obj %}
            <tr>
                <td><a href="{% url 'progects:detail' pk=object.id%}">{{object.name}}</a>
                </td>
                <td>{{object.from_language}}</td>
                <td>{{object.to_language}}</td>
                <td>{{object.progect_progres}}</td>
                <td>
                    <a href="{% url 'progects:update' pk=object.id%}">
                        <button type="button" class="btn btn-light">Виправити</button>
                    </a></td>
                <td>
                    <a href="{% url 'progects:delete' pk=object.id%}">
                        <button type="button" class="btn btn-danger">Видалити</button>
                    </a></td>
            </tr>


        {% endfor %}
        </table>
    </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center my-4">
    <li class="page-item">
        {% if page_obj.has_previous %}
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>

        {% endif %}

    </li>
        {% for page in page_obj.paginator.page_range %}
            <li class="page-item {% if page == page_obj.number %} active {% endif %} ">
                <a class="page-link" href="?page={{page}}"> {{ page }}

                </a>
            </li>
        {% endfor %}
    <li class="page-item">
      {% if page_obj.has_next %}
     <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
     </a>
        {% endif %}
    </li>
  </ul>
</nav>

{% endblock %}